[user]
	name = Johan Sageryd
	email = johan.sageryd@redbet.com
[core]
	excludesfile = ~/.config.d/git/.gitexclude
	pager =
	editor = vim
[advice]
	detachedHead = false
[alias]
	a = add
	ci = commit
	co = checkout
	cp = cherry-pick
	rb = rebase
	ri = rebase --interactive
	st = status
[mergetool]
	keepBackup = false
	prompt = false
[color]
	ui = auto
[push]
	default = simple
[rebase]
	autosquash = true
[diff]
	tool = p4merge
[difftool]
	prompt = false
[rerere]
	enabled = true
[instaweb]
	httpd = webrick
